{% extends "network/layout.html" %}

{% block body %}
<h2>Followers Posts</h2>
{% for follow in following.all %}
{% for user in follow.following.all %}

{% for post in posts.all %}
{% if post.user == user %}
<blockquote class="blockquote">
    {{ post.body | linebreaks }}
</blockquote>
<figcaption class="blockquote-footer">
    {{ post.created }}
    {{ post.user}}
</figcaption>
{% if post.user|stringformat:"s" != request.user.username %}
<a class="likes" href="{% url 'like' post.id %}">❤️{{ post.likes }}</a>
{% else %}
<a class="likes" href="#">❤️{{ post.likes }}</a>
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}

{% endblock %}