{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<section id="form-section">
    <h2>New Post</h2>
    <form action="{% url 'post' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">{{ field }}</div>
        {% endfor %}
        <input id="post-button" class="btn btn-secondary btn-sm" type="submit" value="Post" name="save">
    </form>
</section>
<hr class="hr weather-hr" />
<section id="posts-section">
    <h4>All Posts</h4>
    <div class="row card-body">
        <!-- posts -->
        {% for post in page_obj %}

        <div class="comment">
            <blockquote class="blockquote">
                {{ post.body | linebreaks }}
            </blockquote>
            <figcaption class="blockquote-footer">
                {{ post.created }}
                {{ post.user }}
            </figcaption>
            <div><span>❤️ {{ post.likes }}</span></div>
            {% endfor %}
        </div>
    </div>
    {% if paginator.count > 0 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        {% for page_number in paginator.page_range %}
        {% if page.obj.number == page_number %}

        <li class="page-item active"><a class="page-link" href="">{{ page_number }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
</section>
{% endif %}
{% endblock %}