{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h2>All Posts</h2>
{% if user.is_authenticated %}
<div class="comments">
    {% for post in page_obj %}
    <blockquote class="blockquote post-view" id="post-view-{{ post.id }}">
        {{ post.body | linebreaks }}

    </blockquote>
    {% if post.user|stringformat:"s" == request.user.username %}
    <div class="edit-view" id="edit-view-{{ post.id }}">
        <form class="edit-form" id="edit-form-{{ post.id }}" action="{% url 'edit' post.id %}">
            <div class="form-group">
                <textarea class="form-control" name="" id="post-body-{{ post.id }}"></textarea>
            </div>
            <button data-edit={{ post.id }} id="edit-button-{{ post.id }}" class="post-edit btn btn-secondary btn-sm" type="submit" value="Post" name="save">Post</button>
        </form>
    </div>
    {% endif %}
    <figcaption class="blockquote-footer">
        {{ post.created }}
        {{ post.user}}
        {% if post.user|stringformat:"s" != request.user.username %}

        <form class="like-form" action="{% url 'like' post.id %}">
            <!-- Your other form fields if any -->
            <button data-like={{ post.id }} type="submit" class="like-button">❤️ <span class="current-likes">{{ post.likes }}</span></button>
        </form>
        {% else %}
        <div><span>❤️ {{ post.likes }}</span></div>
        <button class="edit-post btn btn-secondary btn-sm" data-id={{ post.id }}
            id="edit-button-{{ post.id }}">Edit</button>

        {% endif %}

    </figcaption>


    <!-- comments -->
    <h6>{{ post.comments.count }} Comments</h6>
    {% for comment in post.comments.all %}
    <p class="blockquote">
        {{ comment.comment_body | linebreaks }}
    </p>
    <figcaption class="blockquote-footer">
        {{ comment.comment_created }}
        {{ comment.comment_owner}}
    </figcaption>
    {% endfor %}
    {% if post.user|stringformat:"s" != request.user.username %}

    <form action="{% url 'comment' post.id %}" , method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">{{ field }}</div>
        {% endfor %}
        <button class="post-button btn btn-secondary btn-sm" type="submit" value="Comment" name="save">Comment</button>
    </form>
    {% endif %}
    {% endfor %}
</div>

{% if paginator.count > 0 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        {% for page_number in paginator.page_range %}
        {% if page.obj.number == page_number %}

        <li class="page-item active"><a class="page-link" href="">{{ page_number }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endif %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'network/script.js' %}"></script>

{% endblock %}

{% endblock %}