{% extends "network/layout.html" %}

{% block body %}
{% for user in all_users %}
<div>
    <h5>{{ user.username }}</h5>
    {% if user|stringformat:"s" != request.user.username %}
    <a type="button" class="btn btn-primary btn-sm" href="{% url 'view_profile' user.id %}">View Profile</a>
    <a type="button" class="btn btn-primary btn-sm" href="{% url 'follow' user.id %}">Follow</a>
    <a type="button" class="btn btn-warning btn-sm" href="{% url 'unfollow' user.id %}">Unfollow</a>
</div>

{% else %}
<span>{{ user.followers.count }} Followers</span>
<span>{{ followers.following.count }} Following</span>
{% endif %}

{% endfor %}

<div class="comments">
    {% if user.is_authenticated %}
    {% for post in posts.all %}
    <blockquote class="blockquote">
        {{ post.body | linebreaks }}
    </blockquote>
    <figcaption class="blockquote-footer">
        {{ post.created }}
        {{ post.user}}
    </figcaption>
    {% endfor %}

    {% endif %}
</div>
{% endblock %}