{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h2>All Posts</h2>
{% if user.is_authenticated %}
<div>
    <h4>{{ username }}</h4>
    <figcaption>{{ followers }} Followers</figcaption>
    <span>{{ following.following.count }} Following</span>
</div>

<div class="comments">
    {% for post in posts.all %}
    <!-- get only posts for username profile -->
    {% if post.user == username %}
    <blockquote class="blockquote">
        {{ post.body | linebreaks }}
    </blockquote>
    <figcaption class="blockquote-footer">
        {{ post.created }}
        {{ post.user}}
    </figcaption>
    {% if post.user|stringformat:"s" != request.user.username %}
    <form class="like-form" method="PUT" action="{% url 'like' post.id %}">
        <!-- Your other form fields if any -->
        <button data-like={{ post.id }} type="submit" class="like-button">❤️ <span class="current-likes">{{ post.likes }}</span></button>
    </form>
    {% else %}
    <div><span>❤️ {{ post.likes }}</span></div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

{% endif %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'network/script.js' %}"></script>

{% endblock %}
{% endblock %}