

.navbar {
    margin: 20px;
}

.form-group {
    margin: 5px 0 5px 0;
}

button {
    margin: 10px 0 10px 0;
}

#form-section,
#post-section {
    padding: 10px;
}

.comments, .blockquote, .blockquote-footer {
    margin: 10px 0 10px 0 !important;
}

.card {
    margin: 20px;
}

a {

    text-decoration: none;
}

.edit-post:hover {
    text-decoration: underline;
    cursor: pointer;
}

.like-button {
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
}

.like-button:hover {
    cursor: pointer;
}

